<div class=".container" xmlns:utc="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div>
      <div class="form_main">
        <h4 class="heading"><strong>Bayilik Ön Başvuru Formu </strong> <span></span></h4>
        <div class="form">
          <form id="appForm" name="appForm" #appForm="ngForm">

            <mat-form-field>
              <input matInput #fullName required type="text" [(ngModel)]="formApplication.fullName" placeholder="İsim Soyisim:"
                     name="fullName">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #tcNo required type="text" (keypress)="keyPress($event)" minlength=11 maxlength=11 [(ngModel)]="formApplication.tcNo" placeholder="TC Kimlik No" value=""
                     name="tcNo">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan, TCKN geçerli değil!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #address type="text" required [(ngModel)]="formApplication.address" placeholder="Adres" value=""
                     name="address">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #telNo required (keypress)="keyPress($event)" minlength=11 maxlength=11 [(ngModel)]="formApplication.telNo" placeholder="Telefon Numarası"
                     name="telNo" class="txt">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #email required type="email" email [formControl]="formControl" [(ngModel)]="formApplication.email"
                     placeholder="E-Posta"
                     name="email" class="txt">
              <mat-error *ngIf="appForm.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #birthday required [matDatepicker]="picker" placeholder="Doğum Tarihi"
                     [(ngModel)]="formApplication.birthday"
                     name="dateOfBirth" id="dateOfBirth"
                     readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #question1 required="" [(ngModel)]="formApplication.question1"
                     placeholder="Perakende ticareti ile uğraştınız mı?" value="" name="question1" class="txt">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #question2 required="" [(ngModel)]="formApplication.question2"
                     placeholder="LOKUMCU BABA’YI TERCİH ETMENİZİN SEBEBİ NEDİR?" value="" name="question2" class="txt">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #question3 required="" [(ngModel)]="formApplication.question3"
                     placeholder="HANGİ İL/İLÇE/SEMT İÇİN LOKUMCU BABA İŞLETMECİLİĞİ DÜŞÜNÜYORSUNUZ?" value=""
                     name="question3" class="txt">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #question4 required="" [(ngModel)]="formApplication.question4"
                     placeholder="YATIRIM MİKTARINIZ NEDİR?" value="" name="question4" class="txt">
              <mat-error *ngIf="appForm.invalid">Zorunlu alan!</mat-error>
            </mat-form-field>

            <div class="form-group">
              <label>EKLEMEK İSTEDİKLERİNİZ:</label>
              <textarea placeholder="EKLEMEK İSTEDİKLERİNİZ:" [(ngModel)]="formApplication.question5" name="question5"
                        type="text" class="txt_3"></textarea>
            </div>

            <button type="button" class="btn btn-success"
                    [disabled]="!appForm.valid" (click)="addFormApplication(formApplication)" name="submit">
              GÖNDER
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
